body {
    text-align: center;
    background-color: #135D66 ;
    font-family: dosis, cursive;
    height:100vh ;
  }
header {
  height: 12vh;
  overflow: visible;
  margin: auto;
}
  #level-title {
    font-size: 2rem;
    margin-bottom:  0;
    margin-top: 0 ;
    color: #FEF2BF;

  }
  
  h2, h3 {
    font-size: 1rem;
    color: #FEF2BF;
  }

  .nav {
    display: inline-block;
    color: beige;
    margin-right: 50px ;
    margin-left: 50px ;
    margin-bottom: 1%;
    cursor: pointer;
  }

  .nav:hover {
    background-color: grey;
  }
  .container {
    width: 90%;
    margin: auto;
  }
  
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

  .btn {
    margin: 15px;
    margin-bottom : 0px ;
    display: inline-block;
    border: 10px solid black;
    border-radius: 50%;
  }

  #b1, #b2, #b3 {
    height: 25vh;
    width: 25vh;
  }
  
  #m1, #m2, #m3 {
    height: 20vh ;
    width: 20vh;
  }

  #s1, #s2, #s3 {
    height: 10vh;
    width: 10vh;
  }

  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .red {
    background-color: #FF1700;
  }
  
  .green {
    background-color: #49FF00
  }
  
  .blue {
    background-color: blue;
  }
  
  .yellow {
    background-color: #FBFF00
  }
  
  .pressed {
    box-shadow: 0 0 100px white;
    background-color: grey;
  }
  
  .suivant {
    box-shadow: 0 0 50px white;
  }

  .hidden {
    background-color: transparent;
    border: none ;
  }
